/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* Set a base font size: 1rem = 10px */
html {
  font-size: 62.5%; /* 62.5% of the browser default (16px) = 10px */
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  overscroll-behavior: none;
  
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: 'poppins', sans-serif;
  font-size: 1.6rem; /* 16px */
  line-height: 1.5;
  background-color: #fff;
  color: #333;
}

/* Headings */
h1 {
  font-size: 3.2rem; /* 32px */
  margin-bottom: 1.6rem;
}

h2 {
  font-size: 2.4rem; /* 24px */
  margin-bottom: 1.2rem;
}

h3 {
  font-size: 1.5rem; /* 20px */
  margin-bottom: 3rem;
}

/* Paragraphs */
p {
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}

/* Utility spacing classes */
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.pt-1 { padding-top: 1rem; }
.pt-2 { padding-top: 2rem; }
.pb-1 { padding-bottom: 1rem; }
.pb-2 { padding-bottom: 2rem; }

/* Container example */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
}
